{% extends 'base.html' %}

{% block content %}

<h1>All Customers</h1>

{% if all_customers %}

<a href="/orders/add/customer/">
    <button>Add customer</button>
</a>

    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Places</th>
                <th>Customer Price</th>
                <th>Customer Email ID</th>
                <th>Customer Contact No</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in all_customers %}
            <tr>
                <td>{{ customer.customer_name }}</td>
                <td>{{ customer.customer_places }}</td>
                <td>{{ customer.customer_price }}</td>
                <td>{{ customer.customer_emailid }}</td>
                <td>{{ customer.customer_contactno }}</td>
                <td>
                    <a href="{% url 'customer_update' customer.id %}">
                        <button>Update</button>
                    </a>
                    <a href="{% url 'customer_delete' customer.id %}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No customers available.</p>
{% endif %}

{% endblock %}
